@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

.team {
    background: linear-gradient(48.58deg, #14151C 26.41%, #292C33 89.97%);
}

.main_team_title {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vmax;
    color: #FFFFFF;
}

.main_team_desc {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vmax;
    line-height: 150%;
    color: #FFFFFF;
}

.team_verticals {
    padding: 0 0 3vmax 30vmax;
    background: url('../../assets/teamBg.svg') center right no-repeat;
}

.vertical {
    padding-bottom: 2vmax;
    padding-right: 6.5vmax;
}

.vertical_title {
    display: flex;
    gap: 1vmax;
    padding-bottom: 1vmax;
}

.vertical_title:after {
    flex: 1 1;
    content: "";
    margin: auto;
    border: 1px solid #FFFFFF;
}

.vertical_member {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmax;
}